.App{
    margin-top: 0px;
    width: auto;
    height: 2670px;
    
      background: linear-gradient(
    to left,
    rgba(7,27,82,1) 0%,
    rgba(0,128,128,1) 100%
  );
 
}

.particles{
  z-index: -1;
  background-size: cover;
}
.chart1{
  position: absolute;
  margin-top: 180px;
  margin-left: 150px;
  width:720px;
  height:400px;
  background-color: aliceblue;
}
.chart2{
  position: absolute;
  margin-top: 180px;
  margin-left: 1200px;
  width:720px;
  height:400px;
  background-color: aliceblue;
}

.chart3{
  position: absolute;
  margin-top: 680px;
  margin-left: 150px;
  width:720px;
  height:400px;
  background-color: aliceblue;
}

.icon{
  margin-left: 800px;
  margin-top: 1350px;
  position: absolute;
}


.built-using{
  position: absolute;
  margin-top: 1150px;
  margin-left: 20vw;
  font-family: "Bigelow Rules";
  font-size: 7vw;
  color: white;
}

