.App{
    margin-top: 0px;
    width: auto;
    height: 1700px;
    
      background: linear-gradient(
    to left,
    rgba(7,27,82,1) 0%,
    rgba(0,128,128,1) 100%
  );
 
}

.head1{
  margin-top: 30vh;
  margin-left: 32vw;
  font-family: "Bigelow Rules";
  position: absolute;
  font-size: 7vw;
}

.particles{
  z-index: -1;
  background-size: cover;
}
.chart1{
  position: absolute;
  margin-top: 180px;
  margin-left: 100px;
  width:720px;
  height:400px;
  background-color: aliceblue;
}
